<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MainPageActivity"
            android:exported="false"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".TQList.TQCardActivity"
            android:exported="false" />
        <activity
            android:name=".XmlUseActivity"
            android:exported="false"
            android:theme="@style/Theme.ComposeDemo" />
    </application>

</manifest>